@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3d0168;
    color: #ddd;
    font-family: 'Roboto', sans-serif;
}  
main.login{
    width: 100%;
   padding-top: 50px;
   padding-bottom: 30px;
}
main.login .box-login{
    
    background-color: #6809ac;
    border: 1px solid #09f01c;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
main.login .box-login h2{
    font-weight: 100;
    color: whitesmoke;
}
main.login .box-login input{
    width: 200px;
    height: 30px;
    border: 1px solid #09f01c;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 25px;
    background-color: #170027;
}

main.login .bnt button{
    width: 200px;
    height: 35px;
    border: 1px solid #09f01c;
    border-radius: 20px;
    background-color: #3d0168;
    color: whitesmoke;
    font-weight: 900;
    cursor:pointer;
}
